@import "src/colors";

.poke-stats {
  background-color: $background-color-tertiary;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10rem;
  border-top-right-radius: 3rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;

  width: 10rem;
  height: 20rem;

  p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
}
