@import "src/colors";

.poke-stats {
  background-color: $background-color-tertiary;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;

  width: 10rem;
  height: 16rem;

  border-radius: 1rem;

  p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
}
