@import "src/colors";

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
  width: 53rem;
  height: 28.5rem;
}

.loading {
  display: flex;
  grid-column: 1 / 8;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $background-color-tertiary;
  border-color: $background-color-tertiary transparent
    $background-color-tertiary transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
