.pokelist-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  gap: 2rem;

  button {
    width: 10rem;
  }

  input {
    width: 10rem;
    height: 2rem;
    text-align: center;
    font-size: 1.25rem;
  }
}
