$background-color-primary: #242424;
$background-color-secondary: #1a1a1a;
$background-color-tertiary: #fff;
$highlights-color: #646cff;
$highlights-color-secondary: #ccc;
$highlights-color-tertiary: #535bf2;
$text-color-primary: #f5f5f5;
$text-color-secondary: #1a1a1a;
$text-color-tertiary: #333;
